<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>XXXX系统</title>
    <link href="#" th:href="@{/img/title.ico}" type="image/x-icon" rel="icon">
    <!-- Bootstrap core CSS
    <link href="" th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet">-->
    <link href="" th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="#" th:href="@{/css/signin.css}" rel="stylesheet">

</head>

<body class="text-center">
<form class="form-signin" action="index.html" th:action="@{/Login.do}" method="post">
    <img class="mb-4" src="img/title.ico" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <p style="color: red" th:text="${mes}" th:if="not ${#strings.isEmpty(mes)}"></p>
    <label class="sr-only">Username</label>
    <input type="text" class="form-control" placeholder="username" id="username" name="username" required=""
           autofocus="">
    <label class="sr-only">Password</label>
    <input type="password" class="form-control" placeholder="password" id="password" name="password" required="">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{index.title}">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    <a class="btn btn-sm" th:href="@{/index.html(l='zh_CN')}">中文</a>
    <a class="btn btn-sm" th:href="@{/index.html(l='en_US')}">English</a>
</form>

</body>

</html>